body{
    width: 100%;
    padding: 0px;
    margin: 0px;
}

@media only screen and (max-width: 600px) and (min-width: 500px){
    body{
        background-color: darkcyan;
    }

    h2{
        font-size: 80px;
    }
}

@media only screen and (max-width: 800px) and (min-width: 601px) {
    body{
        background-color: black;
    }

    h2{
        font-size: 40px;
    }
}




[class*="col-"]{
    float: left;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}


.col-1{
    width: 8.33%;
}

.col-2{
    width: 16.66%;
}

.col-3{
    width: 25%;
}

.col-4{
    width: 33%;
}

.col-5{
    width: 41.6%;
}

.col-6{
    width: 50%;
}

.col-7{
    width: 58.33%;
}

.col-8{
    width: 66.66%;
}

.col-9{
    width: 75%;
}

.col-10{
    width: 83.33%;
}

.col-11{
    width: 91.66%;
}

.col-12{
    width: 100%;
}

@media only screen and (max-width: 750px){
    [class*="col-"]{
        width: 100%;
    }
}